apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
  namespace: lab
spec:
  replicas: 3
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      imagePullSecrets:
      - name: dockerhub-cred
      containers:
      - name: node-app
        image: docker.io/musmans44/node-app:latest
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: node-app
  namespace: lab
spec:
  type: NodePort
  selector:
    app: node-app
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30080
