apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: lab
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      imagePullSecrets:
      - name: dockerhub-cred
      containers:
      - name: nginx
        image: nginx:1.27
        ports:
        - containerPort: 80
